.content{
	min-width:200px;
	max-width:320px;
	padding:20px 20px 10px 20px;
	background-color:#dddddd;
	border-radius:15px;
	text-align:center;
	box-sizing:content-box;
	border:solid 1px #cccccc;
	margin:15px;
	float:left;
	position:relative;
}

#video_editing video {
	display:none;
}


html{
	font-family:Arial;
	text-shadow: 1px 1px #fff;
	color:#444;
}

input[type=button],a.download {
	width:120px;
	height:40px;
	margin:8px 4px 4px 0;
}

.dropfile{
	position:absolute;
	width:320px;
	height:240px;
	cursor:pointer;
}
.dropfile div{
	margin:3% auto 0% auto;
	width:90%;
	height:90%;
	border:3px dashed #777;
	border-radius:15px;
	line-height:90%;
}
.dropfile div p{
	color:#777;
	margin:100px 0 0 0;
}


video {
	border:solid 1px #ccc;
	margin:0 0 8px 0;
}
canvas {
	border:solid 1px #ccc;
	margin:0 0 8px 0;
}
